<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>BOBAXIXIXI</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body style="background-color: antiquewhite;">
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <br> <br>
    <div class="container" style="background-color: white;">
        <div class="card m-4 p-4">
            <div class="card-body">
                <div class="justify-content-center">
                    <h2 style="text-align: center; color:brown;">Update Boba Tea Form</h2>
                    <br>
                    <form th:action="@{/boba/update/} + ${boba.idBobaTea}" th:object="${boba}" method="POST">
                        <input type="hidden" th:field="*{idBobaTea}" /> Boba Tea Name <br>
                        <input required class="form-control" type="text" name="namaBobaTea" th:value="*{namaBobaTea}" />
                        <br><br> Price <br>
                        <input required class="form-control" type="text" name="hargaBobaTea" th:value="*{hargaBobaTea}" />
                        <br><br> Size <br>
                        <select name="sizeBobaTea">
                            <option value="1" th:if="*{sizeBobaTea == 1}" selected>S</option>
                            <option value="1" th:unless="*{sizeBobaTea == 1}">S</option>
                            <option value="2" th:if="*{sizeBobaTea == 2}" selected>M</option>
                            <option value="2" th:unless="*{sizeBobaTea == 2}">M</option>
                            <option value="3" th:if="*{sizeBobaTea == 3}" selected>L</option>
                            <option value="3" th:unless="*{sizeBobaTea == 3}">L</option>
                        </select>
                        <br><br> Sugar Level <br>
                        <select name="sugarLevel">
                            <option value="1" th:if="*{sugarLevel == 1}" selected>Less</option>
                            <option value="1" th:unless="*{sugarLevel == 1}">Less</option>
                            <option value="2" th:if="*{sugarLevel == 2}" selected>Normal</option>
                            <option value="2" th:unless="*{sugarLevel == 2}">Normal</option>
                            <option value="3" th:if="*{sugarLevel == 3}" selected>Extra</option>
                            <option value="3" th:unless="*{sugarLevel == 3}">Extra</option>
                        </select>
                        <br><br> ice Level <br>
                        <select name="iceLevel">
                            <option value="1" th:if="*{iceLevel == 1}" selected>Less</option>
                            <option value="1" th:unless="*{iceLevel == 1}">Less</option>
                            <option value="2" th:if="*{iceLevel == 2}" selected>Normal</option>
                            <option value="2" th:unless="*{iceLevel == 2}">Normal</option>
                            <option value="3" th:if="*{iceLevel == 3}" selected>Extra</option>
                            <option value="3" th:unless="*{iceLevel == 3}">Extra</option>
                        </select>
                        <br><br> Topping <br>
                        <select name="topping" class="form-control">
                                <div th:each="topping, iterationStatus : ${listTopping}">
                                    <option th:value="${topping.idTopping}" th:text="${topping.namaTopping}"></option>
                                </div>
                            </select>

                        <br><br>
                        <a class="btn btn-primary" href="/boba">Cancel</a>
                        <button class="btn btn-primary" type="submit">Save</button>
                    </form>
                </div>
            </div>
        </div>

    </div>

</body>

</html>